VITE_ENVIRONMENT=DEVELOPMENT
VITE_API=remote # Can be 'local' or 'remote' for local dev, or 'CURRENT_HOST' in production
VITE_API_LOCAL=http://localhost:1080
VITE_API_REMOTE=https://api.cacophony.org.nz
