@import url(breakpoints);
@import url(typography);
@import url(spacing);
@import url(palette);
@import url(colors);
@import url(bootstrap-custom);


:root {
  // multi select variables
  --ms-font-size: var(--font-size--md); // multi select value
  --ms-option-font-size: var(--font-size--md); // multi select options
}

.section-card-heading {
  @media (max-width: @breakpoint-xs-max) {
    font-size: var(--font-size--h4);
    margin-bottom: var(--spacing--sm);
    margin-top: var(--spacing--xs);
  }
  @media (min-width: @breakpoint-sm) {
    font-size: var(--font-size--h4);
    margin-top: var(--spacing--xs);
    margin-bottom: var(--spacing--sm);
  }
  @media (min-width: @breakpoint-md) {
    margin-top: var(--spacing--md);
    margin-bottom: var(--spacing--md);
  }
  @media (min-width: @breakpoint-lg) {
    margin-top: var(--spacing--xl);
  }
}