@import url(breakpoints);
@import url(typography);
@import url(spacing);
@import url(palette);
@import url(colors);
@import url(bootstrap-custom);

// Third party components
@import url(vue-datepicker-custom);
@import url(vueform-multiselect-custom);

:root {
  --cp-mobile-header-height: calc(var(--cp-grid-base) * 12);
  --cp-mobile-search-trigger-height: calc(var(--cp-grid-base) * 13);
}

.section-card-heading {
  @media (max-width: @breakpoint-xs-max) {
    font-size: var(--cp-font-size-h4);
    margin-bottom: var(--cp-spacing-sm);
    margin-top: var(--cp-spacing-xs);
  }
  @media (min-width: @breakpoint-sm) {
    font-size: var(--cp-font-size-h4);
    margin-top: var(--cp-spacing-xs);
    margin-bottom: var(--cp-spacing-sm);
  }
  @media (min-width: @breakpoint-md) {
    margin-top: var(--cp-spacing-md);
    margin-bottom: var(--cp-spacing-md);
  }
  @media (min-width: @breakpoint-lg) {
    margin-top: var(--cp-spacing-xl);
  }
}