/*
Responsive breakpoints. Exactly the same as bootstrap's,
but defining these as less variables so we can use them in the media query breakpoint definition.
*/

@breakpoint-xs: 0;
@breakpoint-xs-max: 575px;
@breakpoint-sm: 576px;
@breakpoint-sm-max: 767px;
@breakpoint-md: 768px;
@breakpoint-md-max: 991px;
@breakpoint-lg: 992px;
@breakpoint-lg-max: 1199px;
@breakpoint-xl: 1200px;
@breakpoint-xl-max: 1399px;
@breakpoint-xxl: 1400px;