:root {
  --border-color-light: #eee;
  --app-bg-color: #f5f5f4;
  --cp-tag-priority-1: #dc2626;
  --cp-tag-priority-2: #d97706;
  --cp-tag-priority-3: #eab308;
  --cp-tag-priority-badge-1: #b91c1c;
  --cp-tag-priority-badge-2: #b45309;
  --cp-tag-priority-badge-3: #ca8a04;
  --cp-tag-no-priority: #999;
  --cp-player-toolbar-bg: #2b333f;
}