// TODO: standardise these

.standard-shadow {
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2);
}

.header-shadow {
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1);
}

.main-nav-shadow {
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}