/*
  Custom color palette for Cacophony.
*/

:root {
  --cp-color-primary: #7ac143;
  /* The Cacophony Project greens are based on the green color of the logo,
  with the brightness increased/grays decreased to reduce the "muddy" feel of lighter colors */
  --cp-color-green-50: #f0f9e6;
  --cp-color-green-100: #e2f3cc;
  --cp-color-green-200: #c5e894;
  --cp-color-green-300: #a7dc67;
  --cp-color-green-400: #84d135;
  --cp-color-green-500: #6dc502;
  --cp-color-green-600: #579e02;
  --cp-color-green-700: #417601;
  --cp-color-green-800: #2c4f01;
  --cp-color-green-900: #012700;
}