:root {
  --grid--base: 4px;

  --spacing--base: 1rem;
  --spacing--xxxs: calc(var(--spacing--base) * 0.125); // avoid using unless really needed
  --spacing--xxs: calc(var(--spacing--base) * 0.25);
  --spacing--xs: calc(var(--spacing--base) * 0.5);
  --spacing--sm: calc(var(--spacing--base) * 0.75);
  --spacing--md: var(--spacing--base);
  --spacing--lg: calc(var(--spacing--base) * 1.25);
  --spacing--xl: calc(var(--spacing--base) * 1.5);
}