// See https://www.npmjs.com/package/@vueform/multiselect#styling

:root {
  --ms-font-size: var(--cp-font-size-md); // multi select value
  --ms-option-font-size: var(--cp-font-size-md); // multi select options
  --ms-option-bg-selected-pointed: color-mix(in oklch, var(--cp-color-green-700), var(--bs-gray-700) 70%);
  --ms-ring-color:  color-mix(in oklch, var(--cp-color-green-600), transparent 75%);
  --ms-tag-bg-disabled: color-mix(in oklch, var(--bs-gray-600), var(--bs-gray-500) 50%);
  --ms-tag-bg: var(--bs-gray-600);
  --ms-option-bg-selected: var(--bs-gray-600);
  --ms-border-color: var(--bs-border-color);
  --ms-border-color-active: var(--cp-color-green-300);
  --ms-placeholder-color: #a2a89e;
}