// See https://www.npmjs.com/package/@vueform/multiselect#styling

:root {
  --ms-font-size: var(--cp-font-size-md); // multi select value
  --ms-option-font-size: var(--cp-font-size-md); // multi select options
  --ms-option-bg-selected-pointed: var(--cp-color-green-700);
  --ms-ring-color:  color-mix(in oklch, var(--cp-color-green-600), transparent 75%);
}