{
  "projectId": "dyez6t",
  "env" : {
    "cacophony-api-server": "http://localhost:1080",
    "cacophony-processing-api-server": "http://localhost:2008",
    "base-url-returned-in-links": "http://test.site",
    "testCreds" : { "superuser": { "name":"admin_test", "password": "admin_test" } },
    "running_in_a_dev_environment" : true
  },
  "chromeWebSecurity": false
}
