{
  "projectId": "dyez6t",
  "env" : {
    "cacophony-api-server": "http://localhost:1080",
    "cacophony-processing-api-server": "http://localhost:2008",
    "testCreds" : {},
    "test_using_default_superuser" : false
  }
}
