{
  "projectId": "dyez6t",
  "baseUrl": "https://localhost:8080",
  "env" : {
    "cacophony-api-server": "http://localhost:1080", 
    "testCreds" : {},
    "test_using_default_superuser" : false
  }
}
