node_modules
apidoc/*
testconfig.json
/dist/
../.idea
api/**/*.js
scripts/**/*.js
models/**/*.js
/*.js
dockerstart.log
!dynamic-import-esm.js
!.eslintrc.js
!waitForApi.js
test-cypress/cypress-performance.json
*.iml
