node_modules
apidoc/*
testconfig.json
/dist/
../.idea
api/**/*.js
classifications/*.js
scripts/**/*.js
models/**/*.js
json-schemas/*
schema-cache.json
/*.js
dockerstart.log
!.eslintrc.cjs
!waitForApi.js
test-cypress/cypress-performance.json
*.iml
!/api/cptv-decoder/decoder/decoder.js
.DS_Store
